* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}
.top-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 15px;
}
.search-bar{
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  flex: 1;
}
.search-bar input{
  padding: 6px 10px;
  border-radius: 10px;
  border: none;
  outline: none;
}
.search-bar button{
  padding: 5px 10px;
  border: none;
  background-color: #f4b60a;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
/* responsive phone - */
@media(max-width:600px){
   .top-bar {
        flex-direction: column;
        align-items: stretch;
        gap: 12px;
    }
  .search-bar button,.signBtn{
    width: 100%;
    font-size: 16px;
  }
    .search-bar {
        flex-direction: column;
    }
}
/* tab  */
@media(min-width:600px) and (max-width:1024){
 .signin-btn {
        padding: 12px 25px;
        font-size: 17px;
    }
}
/* search bar end */

/* signin section */
.signBtn{
  border-radius: 20px;
  margin-left: 15px;
  background-color:rgb(169, 58, 14);
  border: 1px solid white;
  padding: 5px 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
/* logout section  */
.logoutBtn{
  background-color:black;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  border-radius: 20px;
  padding: 5px 10px;
  border: none;
}

/* ------footer section ------*/
.footer {
    background-color: #222;
    color: #fff;
    padding: 40px 20px 20px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: auto;
}

.footer-section h3 {
    margin-bottom: 15px;
    color: #f4b400;
}

.footer-section p
 {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li a {
    text-decoration: none;
    color: #bbb;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #f4b400;
}

.socials a {
    color: #f4b400;
    font-size: 20px;
    margin-right: 10px;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    padding-top: 15px;
    border-top: 1px solid #444;
    margin-top: 30px;
    font-size: 13px;
    color: #bbb;
}


/* gallary */
.gallery-section {
    text-align: center;
    margin: 40px 0;
}

.gallery-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px 30px;
    display: inline-block;
    border-bottom: 3px solid rgb(212, 65, 12);
    color: rgb(212, 65, 12);
}

.gallery-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform .3s ease;
}

.gallery-img:hover {
    transform: scale(1.05);
}
